body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 background: linear-gradient(270deg, #f64f59, #c471ed, #12c2e9, #c471ed);
background-size: 800% 800%;

-webkit-animation: AnimationName 20s ease infinite;
-moz-animation: AnimationName 20s ease infinite;
animation: AnimationName 20s ease infinite;


  /*
  background: #12c2e9;  
  background: -webkit-linear-gradient(to right, rgba(246,79,89, 0.8), rgba(196,113,237, 0.8), rgba(18,194,233, 0.8));
  background: linear-gradient(to right, rgba(246,79,89, 0.8), rgba(196,113,237, 0.8), rgba(18,194,233, 0.6)); 
  */
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}




.col-sm-2 {

    padding: 24px 0;

}

hr {
	width:90%;
	margin-left: 0px;
    margin-right: auto;
	border-color: black!important;
}

.row {
    background: rgba(255, 255, 255, 0.83);
    overflow-x: show;
    padding-bottom: 16px;

}
a {
  color: #00B7FF;
}

